body{

font-family: Arial;
background:#f2f2f2;

display:flex;
justify-content:center;
align-items:center;

height:100vh;

}

.login-container{

background:white;

padding:30px;

border-radius:10px;

width:300px;

display:flex;
flex-direction:column;

gap:10px;

}

input{

padding:10px;

border-radius:5px;

border:1px solid #ccc;

}

button{

padding:10px;

background:#4e4e4e;

color:white;

border:none;

border-radius:5px;

cursor:pointer;

}

button:hover{

background:#2f302f;

}

#error{

color:rgb(124, 1, 1);

}
select{
padding:10px;
border-radius:5px;
border:1px solid #ccc;
width:100%;
}
a{
color:#001b74;
text-decoration:none;
}

a:hover{
text-decoration:underline;
}
.password-container{
position:relative;
width:100%;
}

.password-container input{
width:100%;
padding:10px;
border-radius:5px;
border:1px solid #ccc;
}



.password-container{
position:relative;
width:100%;
}

.password-container input{

width:100%;
padding:10px 40px 10px 10px;

border-radius:5px;
border:1px solid #ccc;

box-sizing:border-box;

}

.password-container i{

position:absolute;
right:10px;
top:50%;
transform:translateY(-50%);

cursor:pointer;
color:#666;

}

